<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>GYM</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	
</head>
<body>
	<div th:insert="fragments/navigation.html :: nav"></div>
	<div class="container">
			<div class="row">
				<div class="col-md-12 mt-5">
					<div class="card">
						<div class="card-header">Sporto salės sistema</div>
						<div class="card-body" sec:authorize="hasAuthority('admin')">
							<h2>Klientai</h2>
							<a href="/client/" class="btn btn-info">Parodyti sportininkų sąrašą</a>	
						</div>
						<div class="card-body">
							<h2>Treniruotės</h2>
							<a href="/workout/" class="btn btn-info">Parodyti treniruočių sąrašą</a>
							
						
						</div>
						<div class="card-body" sec:authorize="hasAuthority('admin')">
							<h2>Registracijos</h2>
							<a href="/registration/" class="btn btn-info">Parodyti registracijų sąrašą</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>